.header {
    display: flex;
    justify-content: flex-start; /* Align the logo to the left */
    align-items: center;
    padding: 20px;
    background-color: transparent; /* Keep the background transparent */
  }
  
  .logo {
    width: 95px; /* Adjust logo size */
    height: auto;
    margin-left: 10px; /* Optional: Add some margin to the left for spacing */
  }